
# Configuration for Lets Encrypt
{
    email root@example.com
}

# This is useful for testing.  It's useful to have a simple service
# where we can easily verify a working configuration.  This posits
# a simple NGINX service with default settings so we get
# the default "Welcome" page. A suitable Compose file is described
# in README.md
#
# localhost {
#       reverse_proxy ng-nginx-1
# }

# This rule is for handling the DNS name for the IP address of this computer.
# This DNS name is what should have the A and AAAA records corresponding
# to this computer.  There is no need to host a service on this domain name.
# It may be desirable to customize the HTML in this case to show something
# other than the generic NGINX hello page.

# home.example.com {
#       reverse_proxy ng-nginx-1
# }

